body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	background-color: #232323;
	font-family: "Montserrat", "Avenir";
}

.square {
	flex-basis: 30%;
	justify-content: center;
	background: purple;
	padding-bottom: 30%;
	/*float: left;*/
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.8s;
	-webkit-transition: background 0.8s;
	-moz-transition: background 0.8s;

}

#container {
	flex-basis: 50%;
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	margin: 20px auto;
	max-width: 600px;
}

h1 {
	text-align: center;
	line-height: 1.1;
	font-weight: normal;
	color: white;
	background: steelBlue;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
	font-size: 220%;
}

#colorDisplay {
	font-size: 200%;
}

#message {
	font-size: 250%;
	line-height: 100%;
	text-align: center;
	color: purple;
	background-color: white;
	padding: 20px 0;
}

.stripe {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	background-color: white;
	text-align: center;
	padding: 0 2%;
	line-height: 70px;
}

.selected {
	color: white;
	background-color: steelBlue;
}

.level {
	display: inline-flex;
}

button {
	padding: 0 20px;
	text-transform: uppercase;
	background-color: white;
	border-style: none;
	outline-style: none; /* one should add a focus style for people having a visual impairment, when the outline style is none.*/
	height: 100%;
	font-weight: 700;
	letter-spacing: .5px;
	font-size: 300%;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}


button:hover {
	color: white;
	background: steelBlue;
}
